<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="lemonade_demo" parallel="tests" thread-count="1"
	data-provider-thread-count="1">
	
	<test name="homePageUiTest">
		<classes>
			<class name="lemonade.tests.HomepageUiTests" />
		</classes>
	</test>
	
	<test name="BasicRentererInsurance">
		<classes>
			<class name="lemonade.tests.BasicRentererInsuranceTest" />
		</classes>
	</test>
	
</suite>
